<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fetch-API</title>
  <style>
    td {
      padding: 8px;
    }

    #pageno {
      border: 1px solid black;
      padding: 5px;
    }

    table {
      border-collapse: collapse;
      font-family: sans-serif;
      font-size: 0.8rem;
      height: 50%;
      width: 100%;
      margin: 0% auto;
    }

    a {
      margin: 0px 10px;
      text-decoration: none;
      color: black;
    }

    .view {
      border: 1px solid black;
      padding: 5px;
      border-radius: 10px;
    }

    th {
      padding: 8px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>
</head>

<body>
  <h2>Name: Abhishek Zakhariya</h2>
  <h3>Task: Fetch API From Client side</h3>
  <h3>Date: 11/03/2024</h3>

  <div style="text-align: center;padding: 30px;">

    <a href="javascript:void(0)" id="first">
      << </a>
        <a href="javascript:void(0)" id="pre">

          < </a>
            <a href="javascript:void(0)" id="pageno">1</a>
            <a href="javascript:void(0)" id="next"> > </a>
            <a href="javascript:void(0)" id="last"> >> </a>
  </div>

  <table>
  </table>

  <script src="/FetchAPI_JsonPlaceHolder/fetch_api.js"></script>
</body>

</html>