<label>Select Your Department: </label><br>
<select>
  <% result.forEach(val => { %>

  <option id=<%= `${val.op_key}` %> value=<%= `${val.op_key}` %>><%= `${val.op_key}` %></option>

  <br>
  <% }); %>
</select>