<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css">
  <style>

  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deshboard</title>
</head>

<body>
  <div class="deshobardTitle">
    <p class="deshobardHeading">All Tasks</p>
    <%- include('logout.ejs') %>
  </div>
  <div style="display: flex;flex-direction: column;display: flex;flex-direction: row;justify-content: space-around;padding: 40px;">
    <div class="sub-cont">
      <ul>
        <h2>HTML</h2>
        <li>
          <a href="/ehya">ehya Life Insurance</a>
        </li>
        <li>
          <a href="/AwanHoster">Awan Hoster</a>
        </li>
        <li>
          <a href="/HireX">HireX</a>
        </li>
        <li>
          <a href="/JobAppForm">Job App Form</a>
        </li>
      </ul>
    </div>
    <div class="sub-cont">
      <ul>
        <h2>JavaScript</h2>
        <li>
          <a href="/DyTable">Dynamic table</a>
        </li>
        <li>
          <a href="/tic_tac_toe">Tic_Tac_Toe</a>
        </li>
        <li>
          <a href="/kukuCube">Kuku Cube</a>
        </li>
      </ul>
    </div>
    <div class="sub-cont">
      <ul>
        <h2>NodeJs</h2>
        <li>
          <a href="/Pagination">Grid With Pagination</a>
        </li>
        <li>
          <a href="/Attendence">Attendence Grid</a>
        </li>
        <li>
          <a href="/DyComponent">Dynamic Component Generator</a>
        </li>
        <li>
          <a href="/DelimeterSearch">Delimeter Search</a>
        </li>
        <li>
          <a href="/FetchAPI">Fetch API From Json PlaceHolder</a>
        </li>
        <li>
          <a href="/Crud">CRUD Operation</a>
        </li>
        <li>
          <a href="/CurdAjax">CRUD With AJAX</a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>