<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deshboard</title>
</head>
<body>
    <a href="/tic_tac_toe">Tic_Tac_Toe</a>
    <a href="/kukuCube">Kuku Cube</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
</body>
</html>