<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deshboard</title>
</head>

<body>
  <div style="display: flex;flex-direction: column;">
    <a href="/tic_tac_toe">Tic_Tac_Toe</a>
    <a href="/kukuCube">Kuku Cube</a>
    <a href="/ehya">ehya Life Insurance</a>
    <a href="/DyTable">Dynamic table</a>
    <a href="/AwanHoster">Awan Hoster</a>
    <a href="/HireX">HireX</a>
  </div>
</body>

</html>