<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    a {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: black;
      text-decoration: none;
      font-size: larger;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deshboard</title>
</head>

<body>
  <div style="display: flex;flex-direction: column;display: flex;flex-direction: row;justify-content: space-around;">

    <ul>
      <h2>HTML</h2>
      <li>
        <a href="/ehya">ehya Life Insurance</a>
      </li>
      <li>
        <a href="/AwanHoster">Awan Hoster</a>
      </li>
      <li>
        <a href="/HireX">HireX</a>
      </li>
    </ul>
    <ul>
      <h2>JavaScript</h2>
      <li>
        <a href="/DyTable">Dynamic table</a>
      </li>
      <li>
        <a href="/tic_tac_toe">Tic_Tac_Toe</a>
      </li>
      <li>
        <a href="/kukuCube">Kuku Cube</a>
      </li>
    </ul>

    <ul>
      <h2>NodeJs</h2>
      <li>
        <a href="/Pagination">Grid With Pagination</a>
      </li>
      <li>
        <a href="/Attendence">Attendence Grid</a>
      </li>
      <li>
        <a href="/FetchAPI">Fetch API From Json PlaceHolder</a>
      </li>
    </ul>
  </div>
</body>

</html>